- #TODO check if it's working
.modal-popup#modal
  %header.popupHeader
    %span.header_title
      = @modal_title
    %span.modal_close
      %button.close{ 'data-dismiss': 'modal', 'aria-label': 'Close' }
        %span{ 'aria-hidden': 'true' } &times;
  %section.popupBody
    = yield
